/* =======================font import====================  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&family=Roboto:wght@300;400&display=swap');
/* ===============================root directory======================== */
:root{
    --button:#E83A59;
    --text-black: #3A3A3A;
    --text-gray: #787885;
    --orange: #FB8200;

}
/* ==========================================styles==================================================== */
body{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    overflow-x: hidden;
}
/* =============================================== navbar============================================ 
*/
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 70px;
    height: 100px;
    margin-bottom: 20px;
}
.logo{
    color: var(--text-black);
}
.nav-bar a{
    text-decoration: none;
    margin-right: 20px;
    color: var(--text-black);
    font-size: 16px;
    font-weight: 500;
}
.nav-bar a i{
    font-size: 25px;
}
.menu{
    display:flex ;
    align-items: center;
}
/* ================================== first section======================================= */
.sec1{
    width: 1140px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}
.sec1 h1{
    font-size: 40px;
    line-height: 50px;
    font-family: "poppins", sans-serif;
    font-weight: bold;
}

.flexible-container{
    /* display:  flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 40px;

}
.flexible-container img{
    width: 80%;
    margin-left: 100px;
}
.button{
    text-decoration: none;
    background-color: var(--button);
    padding: 0px 15px;
    color: white;
    border-radius: 20px; 
   display: flex;
   justify-content: center;
   align-items: center;
   width: 28%;
}
.button i{
    font-size: 25px;
    margin-left: 10px;
}
@keyframes camera {
    from{
        transform: translateX(400px);
    }
    to{
        transform: translateX(8px);
        transform: translateY(30px);
    }
}
.camera{
    position: absolute;
    animation: camera 1.2s ease-in 1s 1  running ;
    transform: translateX(400px);
    transform: translateY(30px);
}
.camera img{
    width: 400px;

 
}
hr{
    width: 1100px;
}
.shops{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}
/* ============================================= Section 2 Popular Products ====================================== */
.sec2{
    width: 1047px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    
}
.section-title{
    text-align: center;
}
.sec2-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 42px;
}
.product-details{
    padding: 12px;
    line-height: 20px;
}
.price{
    font-size: 25px;
}

